html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: bisque;
}

body {
    background-color: burlywood;
    width: 650px;
    border-radius: 30px;
}

.sketchContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}

.line {
    width: 100%;
    height: 100%;
}

.square {
    width: 100%;
    height: 100%;
    background-color: black;
    transition-delay: 2s;
    transition: 5s;
    
}

.square:hover {
    background-color: grey;
    transition-delay: 0.0s;
    transition: 0.0s;
}

button {
    background: rgb(66, 40, 4);
    border: 1px solid;
    border-radius: 8px;
    color: burlywood;
    width: 225px;
    height: 50px;
    font-size: 25px;
    font-family:fantasy;
}